#app {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    overflow: hidden;
}

body {
    margin: 0;
}

.p-togglebutton:disabled {
    background: var(--togglebutton-background) !important;
    border: var(--togglebutton-border-color) !important;
}

.p-galleria-nav-button {
    z-index: 1;
}